<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @list.details %>
</p>
<tbody>
  <% @list.steps.each do |list|%>
  <tr>
    <td><%= list.number %></td>
    <td><%= list.name %></td>
    <td><%= list.details %></td><br>
  </tr>
</tbody>
<% end %>
<br>
<br>
<%= link_to 'Edit', list_steps_path(@list) %>
<%= link_to 'New step', new_list_step_path(@list) %>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
